/* HEADER */
nav {
    margin-bottom: 0px;
}

nav h2 {
    margin-bottom: 40px;
}

nav a {
    color: #06d1d1;
    text-decoration: none;
    margin-bottom: 30px;
}

.nav-flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header div {
    background-color: #06d1d1;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

img {
    width: 50%;
    margin-top: 60px;
}

div h1 {
    margin-top: 40px;
}

div h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    
}


/* BODY */

.section-flex-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    line-height: 1.7em;
}

section div img {
    width: 100%;
}

.fora {
    position: relative;
}

.dentro {
    position: absolute;
    top: 10px;
    right: -10px;
}

.img-location {
    width: 40px;
}

.p-dentro {
    width: 100%;
    background-color: #02025f9c;
    color: white;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    bottom: 187px;
    /* line-height: 1.9em; */
    


}

.remove-margin {
    margin: 0px;
    
}


/* FOOTER */

footer {
    background-color: lightgray;
    text-align: center;
    padding: 50px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 769px) {
/* HEADER */

.nav-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;    
}

nav a {
    margin-top: 14px;
}

.section-flex-container {
    display: flex;
    flex-flow: row wrap;

}

.section-flex-item-1 {
    width: 50%;
}
.section-flex-item-2 {
    width: 50%;
}
.section-flex-item-3 {
    width: 100%;
}


}