#fora {
    width: 400px;
    position: relative;
}

#dentro {
    width: 40px;
    position: absolute;
    top: -15px;
    right: -20px;
}


.um {
    background-color: #02025f9c;
    color: white;
    position: absolute;
    /* top: 154px; */
    top: 182px;
    height: 85px;
    line-height: 1.5em;
    padding-left: 13px;
    display: flex;
    flex-flow: column wrap;     
}

h4, p {
    margin: 0px;
}
