@charset "UTF-8";

/* MINHAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/*font-family: 'Passion One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');

:root {
    --font-padrao: 'Sriracha', cursive ;
    --font-destaque: 'Passion One', cursive ;
}

/*config global*/

* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */

header {
    background-color: black;
    font-family: var(--font-destaque);
    font-weight: 900;
    text-align: center;
    padding: 40px;
    height: 246px;
}

header h1 {
    
    padding-top: 40px;
    color: white;
    font-size: 10em;
    
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

/* BODY */



main p {
    font-family: var(--font-padrao);
    padding: 10px;
    text-indent: 20px;
    font-size: 4em;
    
}

main section {
    padding-top: 100px;
    padding-bottom: 200px;
    
}


#segundo {
    color: white;
    background-image: url("../imagens/background001.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    
}

#section-05 {
    color: white;
    background-image: url("../imagens/background002.jpg");
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
}

.teste p {
    background-color: rgba(0, 0, 0, 0.459);
    min-width: 300px;
    max-width: 770px;
    margin-left: 30px;
    padding: 0px;
    text-indent: 3px;
    line-height: 2em;
       
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}