@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*
* {
    font-family: Arial, Helvetica, sans-serif;
}
*/

body {
    background-image: linear-gradient(-90deg, #014040 1%, #02735E 30%, #03A678 79%);
    
}

h1 {
    font-family: "League Gothic", sans-serif;
    font-size: 3em;
    color: #F27405;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-family: "League Gothic", sans-serif;
    font-size: 2em;
    color: #731702;
    text-align: right;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f2740580;
    margin: auto;
    
    
}

p {
    font-family: "Playfair Display", serif;
    text-align: justify;
    text-indent: 30px;
}