@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    /* margin: 20px; */
    /* height: 35vh; */
    background-color: rgb(189, 188, 188);
    height: 18vh;
    width: 100vw;
    position: fixed;
}

header > h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

nav {
    text-align: center;
    margin: 20px;
}

nav > a{
    text-decoration: none;
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    
}

.botao {
    border-radius: 5px;
    color: white;
    background-color: black;
}

.botao:hover {
    background-color: darkgray;
    padding: 8px;
    transition: 1s;
}

main > article > div > p {
    font-family: 'Courier New', Courier, monospace;
    text-indent: 30px;
    margin: 20px;
}

main > article > div > h2 {
    margin: 10px;
}

main {
    margin-top: 200px;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 100%;
}

body {
    background-color: lightgray;
    position: absolute;
}

footer {
    background-color: rgb(182, 180, 180);
    margin-top: 30px;
    
}