@charset "UTF-8";

* {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: grey;
    
}

header h1 {
    text-align: center;
    padding: 20px;
}

header a {
    display: block;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    text-align: center;
    color: white;
    
}

menu {
    display: none;
}

#burger {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

#burger:hover {
    background-color: white;
    color: black;
}

header a:hover {
    background-color: lightgray;
}

menu ul {
    list-style-type: none;
}

article {
    background-color: white;
    border-radius: 5px;
    text-indent: 30px;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
    
}

article > p {
    padding: 10px;
}